<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>ServedWeb.com - Ruby on Rails Blog</title>  
</head>
	<header>
<p align ="right"><font size="2"><i><b>rails blog @ servedrails.heroku.com</font></b></i></p>
<a href="http://servedrails.heroku.com"><img src="http://www.servedweb.com/wp-content/uploads/served.jpg"></a>
</header>
<a href="http://www.github.com/servedweb"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://servedrails.heroku.com/images/forkme.png" alt="Fork me on GitHub" />
</a>
<body>
    <section>
      <%= yield %> 
    </section>
</body>
<br>
    <footer>
     <b><a href="http://servedrails.heroku.com">Front Page</a> | <a href="http://www.servedweb.com">ServedWeb.com</a><br>
		 powered by <a href="http://cloudhead.io/toto">toto</a> and<a href="http://www.servedweb.com"> servedweb.com</a></b>
    </footer>
</html>

